@media screen and (max-width: 992px) { 
	#left h4 {
		margin: 1em 0 1em 0;
		width: 90%;
	}
	#left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.rounded {
		margin-bottom: 2em;
	}
	.row {
		margin: 0;
	}
}

@media screen and (min-width: 993px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
	}
	#myTopnav {
		position: absolute;
		top: 0px;
		left: 0px;
	}	
	.row {
		margin: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	#left h4 {
		margin: 5em;
	}
}

.rounded {
	border-radius: 50%;
	width: 65%;
}

#left {
	margin: 0;
	padding: 0;
}

#left h4 {
	line-height: 150%;
}

#right {
	margin: 0;
	padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}