.portfolio_img {
	width: 80%;
	height: 80%;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: 3em;
	margin-top: 3em;
}

.portfolio_img:hover {
	opacity: .2;
}

.portfolio_img:hover + .center_text {
	display: block;
}

.center_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	font-weight: bold;
	pointer-events: none;
}

.col-md-4 {
	position: relative;
	text-align: center;
}

.row {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}