.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-bottom: 20px;
  background-color: #d1e8fc;
}

.jumbotron h1 {
	color: #fefff7; 
	font-family: "Lucida Console";
	font-size: 7em;
}

#timeline {
  list-style: none;
  white-space: nowrap;
  padding-left: 0;
}

#timeline li {
  display: inline-block;
  padding: 1.5%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #757677;
  margin-top: 2%;
  text-align: center;
  padding-bottom: 0;
  position:relative;
}

#timeline li+li {
  margin-left: 2%;
}

#timeline li h3,
#timeline li em {
  display: block;
}

#timeline_header {
  padding-left: 0;
}

hr {
  width: 100%;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #a6a7a8;
  display: inline-block;
  position: absolute;
  left: 3em;
}

.timeline_icon {
	height: 40px;
	width: 75px;
	position: absolute;
	bottom: -85px;
	left: 3em;
}

.timeline_ruler {
   white-space: nowrap;
   overflow-x: scroll;
   overflow-y: visible;
   display: block;
   height: auto;
   padding-bottom: 100px;
}

#timeline_border {
  position: relative;
  top: -60px;
  display: block;
  width: 100%;
  height: 2px;
  border-top: 4px solid #f2f3f4;
  /*Set stack order to place timeline ruler behind icons*/
  z-index: -1;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #aeafaf;
	text-align: center;
}

footer h4 {
	color: #f9f9f2; 
}

.animated_text {
	display: inline-block;
}

.animated_text h2 {
	color: #fefff7;
	overflow: hidden;
	border-right: .15em solid #fefff7;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation:
		typing 3.5s steps(40, end),
		blink-caret .75s steps(1, end) infinite alternate;
}

/* Typing animation */
@keyframes typing {
	from { 
		width: 0
	} to {
		width: 100%;
	}
}

/* Blinking cursor animation */
@keyframes blink-caret {
	from, to {
		border-color: transparent
	} 50% { 
		border-color: #fefff7;
	}
}

#contact_section {
	margin: 0;
	margin-top: 4em;
	background-color: #f9f9f9;
	padding: 0;
	width: 100%;
}

#contact_section h2 {
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
}

#contact_box {
	text-align: center;
	background-color: white;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	height: 20em;
	width: 25em;
	margin-bottom: 5em;
	margin-left: 4%;
	margin-right: 3.2%;
	margin-top: 5em;
	box-shadow: 1px 1px 6px #757677;
	float: left;
}

#contact_box img {
	margin-top: 3.3em;
	margin-bottom: 1.2em;
	height: 3em;
	width: 3em;
}

#contact_box h4 {
	color: #6d6d6d;
}

#contact_box h4:after {
	bottom: -.3em;
	content: "";
	display: block;
	height: .1em;
	position: relative;
	width: 2em;
	background-color: #6d6d6d;
	margin: 0 auto;
}

#contact_box p {
	margin: 1.5em;
	color: #6d6d6d;
	font-size: 1.2em;
}

input[type=submit] {
	color: #6d6d6d;
	border-radius: .15em;
	width: 3.3em;
	height: 2.3em;
	border: 0;
}

input[type=submit]:hover {
	background-color: #d1e8fc;
}