.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-bottom: 20px;
  background-color: #d1e8fc;
}

.jumbotron h1 {
	color: #fefff7; 
	font-family: "Lucida Console";
	font-size: 7em;
}

#timeline {
  list-style: none;
  white-space: nowrap;
  padding-left: 0;
}

#timeline li {
  display: inline-block;
  padding: 1.5%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #757677;
  margin-top: 2%;
  text-align: center;
  padding-bottom: 0;
  position:relative;
}

#timeline li+li {
  margin-left: 2%;
}

#timeline li h3,
#timeline li em {
  display: block;
}

#timeline_header {
  padding-left: 0;
}

hr {
  width: 100%;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #a6a7a8;
  display: inline-block;
  position: absolute;
  left: 40px;
}

.timeline_icon {
	height: 40px;
	width: 75px;
	position: absolute;
	bottom: -85px;
	left: 40px;
}

.timeline_ruler {
   white-space: nowrap;
   overflow-x: scroll;
   overflow-y: visible;
   display: block;
   height: auto;
   padding-bottom: 100px;
}

#timeline_border {
  position: relative;
  top: -60px;
  display: block;
  width: 100%;
  height: 2px;
  border-top: 4px solid #f2f3f4;
  /*Set stack order to place timeline ruler behind icons*/
  z-index: -1;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 100px;
	background-color: #aeafaf;
	text-align: center;
}

footer h4 {
	color: #f9f9f2; 
}